[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jcelaya775/nvim2.git
	branch = main
[submodule ".config/fish"]
	path = .config/fish
	url = git@github.com:jcelaya775/fish-config.git
	branch = temp
